
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #fd0000;
  color: #ffffff;
}


header {
  background-color: #e90e0e;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header p {
  margin: 5px 0;
}

header img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 10px;
  border: 3px solid rgb(0, 0, 0);
}

nav {
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

nav a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ff0000;
}


section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(255, 0, 0, 0.1);
}

section h2 {
  color: #e90e0e;
  margin-bottom: 10px;
}

/* Lista de habilidades */
#habilidades ul {
  list-style-type: square;
  padding-left: 20px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #e90e0e;
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-top: 20px;
}
